<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html lang="en" class="ie-theme">
<!--<![endif]-->
  <head>
    <!-- Site Title -->
    <title>{{{content.pageTitle}}}</title>
      <!-- Top level meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="Launching soon! tonebase gives you access to educational content produced by the world's greatest musicians, and music educators.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="Oq-zLlr7QHdBd3NgXI9k4TE5z_ws-ZWjrH76-jSjI2g" />
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Icons -->
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="icons/apple-touch-icon-57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="icons/apple-touch-icon-60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="icons/apple-touch-icon-120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="icons/apple-touch-icon-76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="icons/apple-touch-icon-152.png" />
    <link rel="icon" type="image/png" href="icons/favicon-196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="icons/favicon-96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="icons/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="icons/favicon-16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="icons/favicon-128.png" sizes="128x128" />
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Sub meta -->
    <meta name="application-name" content="tonebase"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="icons/ms-app-image-144.png" /><!-- 144x144 -->
    <meta name="msapplication-square70x70logo" content="icons/ms-app-image-70.png" /><!-- 70x70 -->
    <meta name="msapplication-square150x150logo" content="icons/ms-app-image-150.png" /><!-- 150x150 -->
    <meta name="msapplication-wide310x150logo" content="icons/ms-app-image-310-150.png" /><!-- 310x150 -->
    <meta name="msapplication-square310x310logo" content="icons/ms-app-image-310.png" /><!-- 310x310 -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- CSS -->
    <!-- ************* -->
    <!-- CDN -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700|Rubik:300,400,700" rel="stylesheet">
    <!-- NormalizeCSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- CSS Framework : Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ************* -->
    <!-- Local Load Scripts -->
    <!--
      <link rel="stylesheet" href="landingPage/fonts/fonts.css">
      <link rel="stylesheet" href="landingPage/css/vendor/normalize.min.css">
      <link rel="stylesheet" href="landingPage/css/vendor/bootstrap.min.css">
    -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Local CSS -->
    <link rel="stylesheet" href="landingPage/css/pages/index.css"/>
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="landingPage/js/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script type="text/javascript" src="landingPage/js/vendor/lt-ie-9/lt-ie-9.min.js"></script>
    <script type="text/javascript" src="landingPage/js/vendor/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="landingPage/js/vendor/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Begin social info -->
    <!-- ************* -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tonebaseteam"><!-- handle -->
    <meta name="twitter:title" content="tonebase, inc.">
    <meta name="twitter:description" content="Launching soon! tonebase gives you access to educational content produced by the world's greatest musicians, and music educators.">
    <meta name="twitter:creator" content="@abhinayar96"><!-- handle -->
    <meta name="twitter:image:src" content="http://tonebase.co/landingPage/img/shared/metaImage.png"><!-- append site url -->
    <meta name="twitter:domain" content="http://tonebase.co">
    <meta name="twitter:app:name:iphone" content="tonebase">
    <meta name="twitter:app:name:ipad" content="tonebase">
    <meta name="twitter:app:name:googleplay" content="tonebase">
    <meta name="twitter:app:url:iphone" content="http://tonebase.co">
    <meta name="twitter:app:url:ipad" content="http://tonebase.co">
    <meta name="twitter:app:url:googleplay" content="http://tonebase.co">
    <meta name="twitter:app:id:iphone" content="http://tonebase.co">
    <meta name="twitter:app:id:ipad" content="http://tonebase.co">
    <meta name="twitter:app:id:googleplay" content="http://tonebase.co">
    <!-- ************* -->
    <!-- Facebook -->
    <meta property="fb:app_id" content="1869512956707314"/ />
    <meta property="og:title" content="tonebase"/>
    <meta property="og:description" content="Launching soon! tonebase gives you access to educational content produced by the world's greatest musicians, and music educators."/>
    <meta property="og:type" content="website"/><!-- site type -->
    <meta property="og:url" content="http://tonebase.co/comingSoon"/><!-- site type -->
    <meta property="og:image" content="http://tonebase.co/landingPage/img/shared/metaImage.png"/>
    <!-- landing/End social info -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '227459447755659');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=227459447755659&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-99674439-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Mixpanel Code -->
    <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("c9537cbcc2141d21e160d1d5ddcd31a6");</script>
    <!-- End Mixpanel -->
  </head>
  <body>
    <div id="wrapper">
      <header id="page-header">
        <div class="top-bar">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-12 logo-wrapper logo-social-mob">
                  <div class="logo">
                    <span class="logotext prim main">tonebase</span>
                  </div>
                  <div class="social-rollout">
                    <a href="{{{content.socialLinks.facebook}}}" class="fb-link social-link">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="{{{content.socialLinks.instagramk}}}" class="ig-link social-link">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="{{{content.socialLinks.twitter}}}" class="twitter-link social-link">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="{{{content.socialLinks.linkedIn}}}" class="linkedin-link social-link">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section id="page-content">
        <!-- Main Body Content -->
        <div class="header content bg-cover bg-center bg-scroll bg-no-repeat">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-6 hero-image">
                  <!-- Hero Image -->
                  <img class="img-responsive shadow" alt="tonebase hero" src="{{{content.mainHeroImageSrc}}}">
                </div>
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0 col-lg-6 hero-info">
                  <!-- Hero Text Info. -->
                  <h1 class="hero-text prim">
                    {{{content.mainHeadline}}}
                  </h1>
                  <div class="hero-bottom">
                    <p class="hero-text sec">
                      <span>{{{content.mainSubline}}}</span>
                      <span class="cta">
                        <b>We are currently in a closed beta.</b>
                        <br>
                        Enter your email to request access and for updates!
                      </span>
                    </p>
                    <div class="hero-form top-form text-left">
                      <!-- Mailchimp Form Integration -->
                      <div id="mc_embed_signup">
                        <form action="//tone-base.us15.list-manage.com/subscribe/post?u=b8756b171bdafdd9be90501ad&amp;id=0604c2dafc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div id="mc_embed_signup_scroll">
                            <div class="form-input-wrapper">
                              <input type="email" value="" name="EMAIL" class="required email form-input form-item email" id="mce-EMAIL" placeholder="Email Address">
                              <span class="valid"></span>
                            </div>
                            <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-cta form-item form-button">
                            <div id="mce-responses" class="clear hidden">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                              <input type="text" name="b_b8756b171bdafdd9be90501ad_0604c2dafc" tabindex="-1" value="">
                            </div>
                          </div>
                        </form>
                      </div>
                      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                      <script type='text/javascript'>
                        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section dark artists-intro">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <div class="small-section heading">
                    <h1 class="section-text bottom-border">
                      Featuring<span class="hidden-xs">&nbsp;Content From</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section artist-section">
          <div class="container-fluid">
            <div class="content-wrap">
              <div class="row">
                {{#each content.artistList}}
                <!-- Block -->
                <div class="col-xs-12 col-sm-6 col-md-4 artist-block" data-target="{{{name}}}">
                  <div class="artist-name">
                    <h1 class="section-text text-left {{{sectionTextExtraClass}}}">
                      <a href="{{{website}}}">
                        {{{name}}}
                      </a>
                    </h1>
                  </div>
                  <div class="artist-image {{{imageExtraClass}}}">
                    <img class="img-responsive" alt="{{{name}}}" src="{{{imageSrc}}}">
                  </div>
                </div>
                <!-- ./Block -->
                {{/each}}
                <!-- Final Block -->
                <div class="hidden-xs col-sm-6 col-md-4 artist-block filler" data-target="More">
                  <div class="artist-name">
                    <h1 class="section-text text-left">
                      <span class="hidden-md hidden-lg"><a>And many others..</a></span><span class="hidden-xs hidden-sm"><a>And more..</a></span>
                    </h1>
                  </div>
                  <div class="artist-info hidden">
                    <p class="section-text">
                      Artist Bio.
                    </p>
                  </div>
                  <div class="artist-overlay hidden-xs"></div>
                  <div class="artist-image dark shiftedDown">
                    <img class="img-responsive" alt="William Kanengiser" src="landingPage/img/artists/filler.jpg">
                  </div>
                </div>
                <!-- ./Final Block -->
              </div>
            </div>
          </div>
        </div>
        <div class="section dark hidden-sm hidden-md hidden-lg">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <div class="small-section heading long-top">
                    <p class="section-main sec">
                      And many, many more.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section light features-intro">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <div class="small-section heading">
                    <h1 class="section-text bottom-border">
                      {{{content.featuresTitle}}}
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section features-section large-section bg-cover bg-left bg-scroll bg-no-repeat">
          <div class="container">
            <div class="content-wrap">
              {{#each content.features}}
                <div class="row {{{extraClass}}}">
                  <div class="{{{imageClasses}}}">
                    <img class="img-responsive" alt="{{{imageAlt}}}" src="{{{imageSrc}}}">
                  </div>
                  <div class="{{{infoClasses}}}">
                    <h1 class="section-text prim">
                      {{{headline}}}
                    </h1>
                    <p class="section-text sec">
                      {{{subline}}}
                    </p>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="section dark bottom-sign-up">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                  <div class="small-section heading long-bottom">
                    <h1 class="section-text bottom-border">
                      {{{content.interestedSectionTitle}}}
                    </h1>
                    <p class="section-text text-left">
                      {{{content.interestedSectionHTML}}}
                    </p>
                    <div class="hero-form bottom-form text-center">
                      <!-- Mailchimp Form Integration -->
                      <div id="mc_embed_signup">
                        <form action="//tone-base.us15.list-manage.com/subscribe/post?u=b8756b171bdafdd9be90501ad&amp;id=0604c2dafc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div id="mc_embed_signup_scroll">
                             <div class="form-input-wrapper">
                              <input type="email" value="" name="EMAIL" class="required email form-input form-item email" id="mce-EMAIL" placeholder="Email Address">
                              <span class="valid"></span>
                            </div>
                            <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-cta form-item form-button">
                            <div id="mce-responses" class="clear hidden">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                              <input type="text" name="b_b8756b171bdafdd9be90501ad_0604c2dafc" tabindex="-1" value="">
                            </div>
                          </div>
                        </form>
                      </div>
                      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                      <script type='text/javascript'>
                        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section light about-section">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 text-center">
                  <div class="small-section heading long-bottom">
                    <h1 class="section-text bottom-border">
                      About Us
                    </h1>
                    <p class="section-text text-left sec">
                      {{{content.aboutSectionText}}}
                      <br><br>
                      {{{content.aboutSectionCompanyHTML}}}
                      <br><br>
                      <b>Press? Media inquiries?</b>
                      <br>
                      Contact us <a href="mailto:team@tonebase.co?subject=Press Enquiry">here</a>.
                      <br><br>
                      <b>Interested in advertising on, or sponsoring tonebase?</b>
                      <br>
                      We'd love to hear from you <a href="mailto:team@tonebase.co?subject=Ad/Sponsorship Inquiry">here</a>.
                      <br><br>
                      <b>Are you an Artist? Educator? Musician?</b>
                      <br>
                      Write to us <a href="mailto:team@tonebase.co?subject=Artist Inquiry">here</a>.
                      <br>
                      We would love to discuss adding you to our exclusive list of content creators.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="page-footer">
        <div class="section dark footer">
          <div class="container">
            <div class="content-wrap">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <div class="small-section heading">
                    <h1 class="section-text bottom-border">
                      {{{content.endText}}}
                    </h1>
                    <div class="social-rollout">
                      <a href="https://www.facebook.com/tonebaseteam/" class="fb-link social-link">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://www.instagram.com/tonebaseteam/" class="ig-link social-link">
                        <i class="fa fa-instagram"></i>
                      </a>
                      <a href="https://twitter.com/tonebaseteam" class="twitter-link social-link">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/tonebase" class="linkedin-link social-link">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </footer>
    </div>
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Scripts -->
    <!-- ************* -->
    <!-- External -->
    <script src="landingPage/js/console-shim.js"></script>
    <!-- ************* -->
    <!-- CDN Load Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- ************* -->
    <!-- Local Load Scripts -->
    <!--
      <script src="landingPage/js/vendor/modernizr-2.6.2.min.js"></script>
      <script src="landingPage/js/vendor/jquery-2.2.4.min.js"></script>
    -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- ************* -->
    <!-- Facebook Event Driver -->
    <!-- ./End Facebook Event Driver -->
    <!-- SUGGESTIONS -->
    <!-- Google Adwords Code -->
    <!-- Google Ad Services Conversion.js -->
    <!-- Clicky : Analytics -->
    <a title="Real Time Analytics" href="http://clicky.com/101047791"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101047791); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101047791ns.gif" /></p></noscript>
    <!-- Sumome : Analytics/Lists -->
    <script src="//load.sumome.com/" data-sumo-site-id="c35ef7813bf65616763df270534bbc654f3cba1515e684ae8ba3d870a3dd90c8" async="async"></script>
    <!-- Hotjar : Analytics -->
    <!-- Adroll : Retargeting -->
    <!-- LinkedIn Partner Code (optional) -->
    <!-- Facebook SDK (optional, login w/ FB) -->
    <!-- ************* -->
    <!-- Internal -->
    <script src="landingPage/js/main_1.0.0.min.js"></script>
  </body>
</html>
